.homePage {
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 3vw;
    padding: 20px 0;
    overflow: hidden;
}

.belowBreakOut {
    padding: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

/* CHILD ONE */
.homePageChildOne {
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* CHILD ONE DIV ONE */

.homePageChildOneDivOneHeaderOneDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.homePageChildOneDivOneHeaderTwoDivParent {
    display: flex;
    justify-content: flex-start;
    max-height: 400px;
    padding: 40px 0 0 3%;
    width: fit-content;
    opacity: 0;
    animation:
        fadeIn 1.5s ease-out .5s forwards;

}

.homePageChildOneDivOneHeaderTwoDivDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 0 0 20px;
}

.homePageChildOneDivOneDescriptionDiv {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    width: 95%;
}

.homePageChildOneDivOneDescriptionTwoDiv {
    color: #d2d2d2;
    font-size: clamp(10px, 2.5vw, 30px);
    margin: 0;
    padding: 0 0 0 0;
    word-wrap: break-word;
    white-space: normal;
    word-spacing: 2px;
    line-height: 1.2;
}

.homePageChildOneDivOneHeaderTwoDiv {
    color: #e9bfb3;
    font-size: clamp(15px, 5vw, 80px);
    border-bottom: 2px solid #e9bfb3;
    margin: 0;
    padding: 0;
}

.homePageChildOneDivOneHeaderTwoDivPhotoBackground {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    top: 0;
    left: 0;

}

.homePageChildOneDivOneHeaderTwoDivPhotoDiv {
    position: relative;
    min-width: 100px;
    width: calc(100vw / 5);
    height: calc(100vw / 6.6);
    min-height: 100px;
    margin-top: 10px;
    border: 5px solid rgb(32, 32, 32);
    border-radius: 20px;
}

.homePageChildOneDivOneHeaderTwoDivPhoto {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5%;
    position: absolute;
    top: 0;
    left: 0;
}
.homePageChildOneDivOneHeaderDiv1 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130%;
    max-height: 500px;
    overflow: hidden;
    padding: 0 0 20px 0;
    margin: 0;
    white-space: nowrap;
    border-bottom: 8px solid rgb(32, 32, 32);
}


.homePageChildOneDivOneHeaderDiv2Parent {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 220px;
    max-height: 330px;
    align-items: center;
    justify-content: flex-end;
}


.homePageChildOneDivOneHeaderDiv2 {
    z-index: 2;
    position: absolute;
    bottom: 36%;
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


.childOneDivOneImage {
    z-index: 2;
    position: absolute;
    width: inherit;
    height: 800px;
    z-index: 0;
    border-radius: 20px;
    opacity: .8;
}

.homePageChildOneDivOne {
    border: 8px solid rgb(32, 32, 32);
    border-radius: 20px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px 0 0 0;
    width: 100%;
    height: calc(100vw / 1.1);
    min-height: 480px;
    max-height: 900px;
    opacity: .7;
    z-index: 2;
    background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
    animation: fadeInBackground 1s ease-in-out forwards;
}

@keyframes fadeInBackground {
    to {
        opacity: 1;
    }
}



/* FIRST HEADER BORDER ANIMATION */

.betweenDivThreeAndFourHeaderDiv {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        margin: 0 0 -20px 0;
}
.betweenDivOneAndTwoHeaderDiv {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 -20px 0;
}

.betweenDivThreeAndFourHeader {
    position: relative;
    color: white;
    font-size: clamp(15px, 6vw, 80px);
    margin: 180px 0 0 0;
    padding: 0;
}

.betweenDivThreeAndFourHeader::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--borderWidth);
    height: 4px;
    background-color: #ffffff;
    transition: width 1.5s ease;
}
@media (max-width: 600px) {
    .betweenDivOneAndTwoHeader {
        position: relative;
        color: white;
        font-size: clamp(15px, 6vw, 80px);
        margin: 180px 0 0 0;
        padding: 0;
    }
}
@media (min-width: 600px) {
    .betweenDivOneAndTwoHeader {
        position: relative;
        color: white;
        font-size: clamp(15px, 6vw, 80px);
        margin: 100px 0 0 0;
        padding: 0;
    }
}


.betweenDivOneAndTwoHeader::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--borderWidth);
    height: 4px;
    background-color: #ffffff;
    transition: width 1.5s ease;
}



/* SECOND HEADER BORDER ANIMATION */
.betweenDivTwoAndThreeHeaderDiv {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-bottom: -40px;
    margin-top: 20px;
}


.betweenDivTwoAndThreeHeader {
    position: relative;
    color: white;
    font-size: clamp(15px, 6vw, 80px);
    margin: 60px 0 0 0;
    padding: 0;
}

.betweenDivTwoAndThreeHeader::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--borderWidthProjects);
    height: 4px;
    background-color: #ffffff;
    transition: width 1.5s ease;
}





.homePageChildOneDivOneHeaderOne {
    z-index: 2;
    padding: 0;
    margin: 0;
    color: rgb(192, 192, 192);
    font-size: clamp(15px, 3vw, 30px);
    animation:
        fadeIn 2s ease-out forwards;
}

.homePageChildOneDivOneHeaderTwo {
    z-index: 2;
    position: relative;
    padding: 0;
    margin: 0 0 0px 0;
    color: rgb(192, 192, 192);
    font-size: clamp(20px, 5vw, 50px);
    width: fit-content;
    opacity: 0;
    animation:
        fadeIn 2s ease-in 1.5s forwards;
}

.homePageChildOneDivOneHeaderTwo::before,
.homePageChildOneDivOneHeaderTwo::after {
    z-index: 2;
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    background: white;
    width: 0;
}

.homePageChildOneDivOneHeaderTwo::before {
    left: 0;
}

.homePageChildOneDivOneHeaderTwo::after {
    right: 0;
}

@keyframes growBorder {
    to {
        width: 50%;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* CHILD ONE DIV TWO*/
.homePageChildOneDivTwo {
    z-index: 3;
    height: fit-content;
    padding: 20px 0;
    min-height: 360px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(32, 32, 32);
    background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
    border-radius: 20px;
}

.slide-in {
    z-index: 2;
    right: 10px;
}




/* BACKGROUND PHOTO */
.backGroundPhotoPortfolio {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* CODE ICONS */



/* PROJECTS */


@media (max-width: 800px) {

.homePageChildOneDivThree {
        z-index: 3;
        height: fit-content;
        width: 100%;
        display: flex;
        padding: 20px 10px;
        align-items: center;
        justify-content: center;
        border: 8px solid rgb(32, 32, 32);
        background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
        border-radius: 20px;
    }

    .projectsDiv {
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 30px;
        height: fit-content;
        justify-items: center;
        padding: 20px 0 0 0;
    }


    /* PROJECT 1 */
    .projectVideoDiv1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        min-height: 560px;
        align-items: center;
        width: calc(100vw / 2);
        max-width: 550px;
        border-radius: 5px;
        perspective: auto;
        transform-style: preserve-3d;
        transition: transform 0.6s;
    }

    .front1,
    .back1 {
        backface-visibility: hidden;
        transition: transform 0.6s, opacity 0.6s;
    }

    .front1 {
        transform: rotateY(0deg);
        width: fit-content;
        height: fit-content;
        opacity: 1;
    }

    .back1 {
        position: absolute;
        background-color: rgb(54, 54, 54);
        height: fit-content;
        padding: 40px;
        width: calc(100vw / 2);
        max-width: 550px;
        transform: rotateY(180deg) scaleY(0);
        opacity: 0;
        border-radius: 10px;
    }

    .back1HeaderDiv {
        display: flex;
        justify-content: center;
    }

    .back1Header {
        color: rgb(255, 255, 255);
        font-size: clamp(20px, 4vw, 40px);
        border-bottom: 1px solid white;
    }
    .projectVideoDiv1:hover .back1 {
        transform: rotateY(0deg) scaleY(1);
        opacity: 1;
        transition-delay: 0.2s;
    }

    .projectVideoDiv1:hover .front1 {
        transform: rotateY(-180deg);
        opacity: 0;
        transition-delay: 0.2s;
    }

    /* PROJECT 2 */

        .projectVideoDiv2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            min-height: 560px;
            align-items: center;
            width: calc(100vw / 2);
            max-width: 550px;
            border-radius: 5px;
            perspective: auto;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .front2,
        .back2 {
            backface-visibility: hidden;
            transition: transform 0.6s, opacity 0.6s;
        }

        .front2 {
            transform: rotateY(0deg);
            width: fit-content;
            height: fit-content;
            opacity: 1;
        }

        .back2 {
            position: absolute;
            background-color: rgb(54, 54, 54);
            height: fit-content;
            padding: 40px;
            width: calc(100vw / 2);
            max-width: 550px;
            transform: rotateY(180deg) scaleY(0);
            opacity: 0;
            border-radius: 10px;
        }

        .projectVideoDiv2:hover .back2 {
            transform: rotateY(0deg) scaleY(1);
            opacity: 1;
            transition-delay: 0.2s;
        }

        .projectVideoDiv2:hover .front2 {
            transform: rotateY(-180deg);
            opacity: 0;
            transition-delay: 0.2s;
        }

    /* PROJECT 3 */

        .projectVideoDiv3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            min-height: 560px;
            align-items: center;
            width: calc(100vw / 2);
            max-width: 550px;
            border-radius: 5px;
            perspective: auto;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .front3,
        .back3 {
            backface-visibility: hidden;
            transition: transform 0.6s, opacity 0.6s;
        }

        .front3 {
            transform: rotateY(0deg);
            width: fit-content;
            height: fit-content;
            opacity: 1;
        }

        .back3 {
            position: absolute;
            background-color: rgb(54, 54, 54);
            height: fit-content;
            padding: 40px;
            width: calc(100vw / 2);
            max-width: 550px;
            transform: rotateY(180deg) scaleY(0);
            opacity: 0;
            border-radius: 10px;
        }

        .projectVideoDiv3:hover .back3 {
            transform: rotateY(0deg) scaleY(1);
            opacity: 1;
            transition-delay: 0.2s;
        }

        .projectVideoDiv3:hover .front3 {
            transform: rotateY(-180deg);
            opacity: 0;
            transition-delay: 0.2s;
        }

    .projectVideoHeader {
        font-size: clamp(30px, 3vw, 40px);
        color: #e9bfb3;
        border-left: 3px solid rgb(31, 31, 31);
        border-right: 3px solid rgb(31, 31, 31);
        border-top: 3px solid rgb(31, 31, 31);
        box-shadow: 0 0 10px inset rgba(255, 192, 203, 0.295);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px;
        margin: 0 0;
        white-space: nowrap;
        text-align: center;
    }

    .projectVideo {
        width: calc(100vw / 1.3);
        max-width: 550px;
        border: 3px solid rgb(31, 31, 31);
    }


    /* DESCRIPTION DIV FOR PROJECTS */
    .projectVideoDescriptionDiv {
        width: calc(100vw / 1.3);
        max-width: 550px;
    }

    .projectVideoDescriptionDivChildOne {
        width: 100%;
        margin: -5px 0 0 0;
        padding: 10px;
        background-color: rgb(31, 31, 31);
        display: flex;
        justify-content: center;
    }

    .projectVideoDescriptionDivChildOneHeader {
        color: white;
        font-size: 22px;
        border-bottom: 1px solid white;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .projectVideoDescriptionDivChildTwo {
        width: 100% - 20px;
        height: calc(100vw / 3.2);
        max-height: 220px;
        padding: 10px;
        background-color: rgb(31, 31, 31);
        border: 3px solid rgb(31, 31, 31);
        display: flex;
        justify-content: flex-start;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .projectVideoDescriptionDivChildTwoDescription {
        color: rgb(228, 228, 228);
        font-size: clamp(1px, 2.5vw, 25px);
        margin: 0;
        padding: 0;
        word-wrap: break-word;
        white-space: normal;
        word-spacing: 2px;
        line-height: 1.2;
        text-align: center;
    }

}

@media (min-width: 800px) {
    .homePageChildOneDivThree {
        z-index: 3;
        height: fit-content;
        max-height: 930px;
        min-height: 650px;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        justify-content: center;
        border: 8px solid rgb(32, 32, 32);
        background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
        border-radius: 20px;
    }
    .projectsDiv {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 20px;
    }


    /* PROJECT 1 */
        .projectVideoDiv1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            min-height: 600px;
            align-items: center;
            margin-bottom: 20px;
            width: 27vw;
            min-width: 230px;
            border-radius: 5px;
            perspective: auto;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }


        .back1HeaderDiv {
            display: flex;
            justify-content: center;
        }

        .back1Header {
            color: rgb(255, 255, 255);
            font-size: clamp(20px, 4vw, 30px);
            border-bottom: 1px solid white;
            margin: 0 0 10px 0;
            padding: 0;
            text-align: center;
            width: min-content;
        }
        .front1,
        .back1 {
            backface-visibility: hidden;
            transition: transform 0.6s, opacity 0.6s;
        }

        .front1 {
            transform: rotateY(0deg);
            opacity: 1;
            width: calc(100vw / 4);
            max-width: 450px;
            min-width: 230px;
            height: fit-content;
        }

        .back1 {
            position: absolute;
            background-color: rgb(54, 54, 54);
            height: fit-content;
            padding: 40px;
            width: calc(100vw / 4);
            max-width: 450px;
            transform: rotateY(180deg) scaleY(0);
            opacity: 0;
            border-radius: 10px;
        }

        .projectVideoDiv1:hover .back1 {
            transform: rotateY(0deg) scaleY(1);
            opacity: 1;
            transition-delay: 0.2s;
        }

        .projectVideoDiv1:hover .front1 {
            transform: rotateY(-180deg);
            opacity: 0;
            transition-delay: 0.2s;
        }

    /* PROJECT 2 */
        .projectVideoDiv2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            min-height: 600px;
            align-items: center;
            margin-bottom: 20px;
            width: 27vw;
            border-radius: 5px;
            perspective: auto;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .front2,
        .back2 {
            backface-visibility: hidden;
            transition: transform 0.6s, opacity 0.6s;
        }

        .front2 {
            transform: rotateY(0deg);
            opacity: 1;
            width: calc(100vw / 4);
            min-width: 230px;
            max-width: 450px;
            height: fit-content;
        }

        .back2 {
            position: absolute;
            background-color: rgb(54, 54, 54);
            height: fit-content;
            padding: 40px;
            width: calc(100vw / 4);
            max-width: 450px;
            transform: rotateY(180deg) scaleY(0);
            opacity: 0;
            border-radius: 10px;
        }

        .projectVideoDiv2:hover .back2 {
            transform: rotateY(0deg) scaleY(1);
            opacity: 1;
            transition-delay: 0.2s;
        }

        .projectVideoDiv2:hover .front2 {
            transform: rotateY(-180deg);
            opacity: 0;
            transition-delay: 0.2s;
        }

    /* PROJECT 3 */
        .projectVideoDiv3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;
            min-height: 600px;
            align-items: center;
            margin-bottom: 20px;
            width: 27vw;
            border-radius: 5px;
            perspective: auto;
            transform-style: preserve-3d;
            transition: transform 0.6s;
        }

        .front3,
        .back3 {
            backface-visibility: hidden;
            transition: transform 0.6s, opacity 0.6s;
        }

        .front3 {
            transform: rotateY(0deg);
            opacity: 1;
            width: calc(100vw / 4);
            max-width: 450px;
            min-width: 230px;
            height: fit-content;
        }

        .back3 {
            position: absolute;
            background-color: rgb(54, 54, 54);
            height: fit-content;
            padding: 40px;
            width: calc(100vw / 4);
            max-width: 450px;
            transform: rotateY(180deg) scaleY(0);
            opacity: 0;
            border-radius: 10px;
        }

        .projectVideoDiv3:hover .back3 {
            transform: rotateY(0deg) scaleY(1);
            opacity: 1;
            transition-delay: 0.2s;
        }

        .projectVideoDiv3:hover .front3 {
            transform: rotateY(-180deg);
            opacity: 0;
            transition-delay: 0.2s;
        }


    .projectVideoHeader {
        font-size: clamp(15px, 3vw, 40px);
        color: #e9bfb3;
        border-left: 3px solid rgb(31, 31, 31);
        border-right: 3px solid rgb(31, 31, 31);
        border-top: 3px solid rgb(31, 31, 31);
        box-shadow: 0 0 10px inset rgba(255, 192, 203, 0.295);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 5px;
        white-space: nowrap;
        width: calc(100vw / 4);
        min-width: 230px;
        max-width: 450px;
        text-align: center;
        margin: 0;
    }

    .projectVideo {
        width: calc(100vw / 4);
        max-width: 450px;
        min-width: 230px;
        border: 3px solid rgb(31, 31, 31);
    }


    /* DESCRIPTION DIV FOR PROJECTS */
    .projectVideoDescriptionDiv {
        width: 100%;
    }

    .projectVideoDescriptionDivChildOne {
        width: 100%;
        margin: -5px 0 0 0;
        padding: 10px;
        background-color: rgb(31, 31, 31);
        display: flex;
        justify-content: center;
    }

    .projectVideoDescriptionDivChildOneHeader {
        color: white;
        font-size: clamp(1px, 2.3vw, 30px);
        border-bottom: 1px solid white;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .projectVideoDescriptionDivChildTwo {
        width: 100%;
        height: calc(100vw / 4);
        min-height: 250px;
        max-height: 320px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        border: 3px solid rgb(31, 31, 31);
        background-color: rgb(31, 31, 31);
        display: flex;
        justify-content: flex-start;
    }

    .projectVideoDescriptionDivChildTwoDescription {
        color: rgb(228, 228, 228);
        font-size: clamp(12px, 1.35vw, 19px);
        margin: 0;
        padding: 0;
        font-weight: 505;
        word-wrap: break-word;
        white-space: normal;
        word-spacing: 2px;
        line-height: 1.2;
        text-align: center;
    }
}

/* PROJECT LINKS */
.projectLinksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    padding: 0;
    gap: 10px;
}

.projectLinks {
    text-decoration: none;
    color: white;
}

/* PROJECT TECH USED */
.projectTechUsedDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projectTechUsedUl {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.projectTechUsedLi {
    color: #e4aba7;
}

.projectTechUsedHeader {
    color: #ffffff;
    border-bottom: 1px solid white;
    margin: 10px 0 5px 0;
    padding: 0;
}





/* ABOUT ME SECTION\ */

@media (min-width: 800px) {
    .homePageChildOneDivFour {
            z-index: 3;
            height: fit-content;
            max-height: 400px;
            min-height: 460px;
            padding: 20px 20px;
            border: 8px solid rgb(32, 32, 32);
            background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
            border-radius: 20px;
        }
        .aboutMeMainDiv {
            height: calc(100vw / 2);
            min-height: 300px;
            max-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        .aboutMeMainDivChildOne {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .aboutMeStoryInfo {
            color: rgb(223, 223, 223);
            font-size: clamp(10px, 1.5vw, 25px);
            margin: 0;
            padding: 0 0 0 0;
            word-wrap: break-word;
            white-space: normal;
            word-spacing: 2px;
            line-height: 1.2;
            text-align: center;
        }
        .aboutMeMainDivChildTwo {
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-around;
        }
        .aboutMeStoryHeader {
            color: #e9bfb3;
            border-bottom: 1px solid #e9bfb3;
        }
        /* UL'S */
            .aboutMeLanguagesUl {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: rgb(223, 223, 223);
                margin: 0;
                padding: 0;
            }
            .aboutMeFrontEndUl {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: rgb(223, 223, 223);
                margin: 0;
                padding: 0;
            }
            .aboutMeBackEndUl {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: rgb(223, 223, 223);
                margin: 0;
                padding: 0;
            }
            .aboutMeDatabasesUl {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                color: rgb(223, 223, 223);
                margin: 0;
                padding: 0;
            }
            .aboutMeHeaders {
                color: #e9bfb3;
                border-bottom: 1px solid #e9bfb3;
            }
}
@media (max-width: 800px) {
    .homePageChildOneDivFour {
        z-index: 3;
        height: fit-content;
        width: 100%;
        padding: 20px 10px;
        border: 8px solid rgb(32, 32, 32);
        background: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgba(15, 15, 15, 1) 50%, rgba(10, 10, 10, 1) 100%);
        border-radius: 20px;
    }
    .aboutMeMainDiv {
        height: fit-content;
        max-height: 930px;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .aboutMeMainDivChildOne {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .aboutMeStoryInfo {
        color: rgb(223, 223, 223);
        font-size: clamp(14px, 2.3vw, 20px);
        margin: 0;
        padding: 0 0 0 0;
        font-weight: 500;
        word-wrap: break-word;
        white-space: normal;
        word-spacing: 2px;
        line-height: 1.2;
        text-align: center;
    }

    .aboutMeMainDivChildTwo {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 10%;
        justify-items: center;
    }

    .aboutMeStoryHeader {
        color: #e9bfb3;
        border-bottom: 1px solid #e9bfb3;
    }

    /* UL'S */
    .aboutMeLanguagesUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: rgb(223, 223, 223);
        margin: 0;
        padding: 0;
    }

    .aboutMeFrontEndUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: rgb(223, 223, 223);
        margin: 0;
        padding: 0;
    }

    .aboutMeBackEndUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: rgb(223, 223, 223);
        margin: 0;
        padding: 0;
    }

    .aboutMeDatabasesUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: rgb(223, 223, 223);
        margin: 0;
        padding: 0;
    }

    .aboutMeHeaders {
        color: #e9bfb3;
        border-bottom: 1px solid #e9bfb3;
    }
}
@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

@keyframes slowShow {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scroll-indicator {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5%;
    opacity: 0;
    margin: 0;
    gap: 5px;
    animation: slowShow 1s ease-in-out forwards 2.5s;

}

.dot {
    width: calc(100vw / 30);
    max-width: 20px;
    height: calc(100vw / 30);
    max-height: 20px;
    color: white;
    background-color: transparent;
}

#dot1 {
    opacity: 0;
    color: rgba(255, 192, 203, 0.448);
    animation: pulse 2s infinite 1.2s,
    slowShow 1s ease-in-out forwards 2.8s;
}

#dot2 {
    opacity: 0;
    color: rgba(255, 192, 203, 0.63);
    animation: pulse 2s infinite 1.4s,
        slowShow 1s ease-in-out forwards 3.1s;
}

#dot3 {
    opacity: 0;
    color: rgba(255, 192, 203, 0.829);
    animation: pulse 2s infinite 1.6s,
        slowShow 1s ease-in-out forwards 3.4s;
}




@keyframes pulsePhoto {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


.codeIconsPhotosDiv {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
}

.codeIconsPhotoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

@keyframes boxShadowAnimation {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 0 0 100px inset rgb(7, 7, 7);
    }
}

.codeIconsPhotos {
    width: calc(100vw / 5);
    max-width: 150px;
    height: calc(100vw / 5);
    max-height: 150px;
    border-radius: 10%;
    padding: 2px;
    box-shadow: none;
    transition: box-shadow 0.6s ease-in-out;
}

.codeIconsPhotos:hover {
    animation: boxShadowAnimation 2s forwards;
}
.codeIconsPhotosHeader {
    font-size: clamp(15px, 4vw, 50px);
    color: white;
}

#picture1,
#picture2,
#picture3,
#picture4,
#picture5,
#picture6,
#picture7,
#picture8,
#picture9 {
    transition: transform .6s ease-in-out, scale .6s ease-in-out;
    transform: scale(0.9);
}

#picture1:hover,
#picture2:hover,
#picture3:hover,
#picture4:hover,
#picture5:hover,
#picture6:hover,
#picture7:hover,
#picture8:hover,
#picture9:hover {
    transform: scale(1.15);
    scale: 1.15;
}


#picture1Header, #picture2Header, #picture3Header,
#picture4Header, #picture5Header, #picture6Header,
#picture7Header, #picture8Header, #picture9Header {
    position: relative;
}

#picture1Header::after, #picture2Header::after, #picture3Header::after,
#picture4Header::after, #picture5Header::after, #picture6Header::after,
#picture7Header::after, #picture8Header::after, #picture9Header::after  {
    content: '';
    display: block;
    border-bottom: 2px solid transparent;
    height: 5px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.6s ease;
}

#picture1:hover+#picture1Header::after,
#picture2:hover+#picture2Header::after,
#picture3:hover+#picture3Header::after,
#picture4:hover+#picture4Header::after,
#picture5:hover+#picture5Header::after,
#picture6:hover+#picture6Header::after,
#picture7:hover+#picture7Header::after,
#picture8:hover+#picture8Header::after,
#picture9:hover+#picture9Header::after,
#picture1Header:hover::after,
#picture2Header:hover::after,
#picture3Header:hover::after,
#picture4Header:hover::after,
#picture5Header:hover::after,
#picture6Header:hover::after,
#picture7Header:hover::after,
#picture8Header:hover::after,
#picture9Header:hover::after {
    border-bottom-color: #ffffff;
    width: 100%;
}



.linksIcons {
    height: fit-content;
}


strong {
    color: #e9bfb3;
}


.clickMe {
    margin: 0;
    padding: 0;
    top: 0;
    color: rgb(199, 199, 199);
}
