nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
    padding: 5px 0;
    margin: 0;
    height: 50px;
    width: 100%;
    opacity: 1;
}

.icons {
    z-index: 2;
    font-size: 25px;
}




.navLi {
    position: relative;
    width: 30px;
    height: 40px;
    z-index: 2;
    padding: 0;
    margin: 0;
    color: white;
}




@media (max-width: 768px) {
    @keyframes slideDown {
            from {
                height: 0;
                padding: 0 0px;
            }

            to {
                height: 170px;
                padding: 0px;
            }
        }
    @keyframes slideUp {
        from {
            height: 170px
        }

        to {
            height: 0;
        }
    }
    .navMyMedia {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 1px solid white
    }

    .navUl {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0 15px 0 0;
        height: 100%;
        margin: 0;
    }
}

.navLogoNameSmall {
    position: relative;
    top: -7px;
    width: 135px;
    height: 55px;
    margin-left: -15px;
}
.navLogoNameSmallDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    z-index: -2;
}

@media (min-width: 768px) {
    @keyframes slideDown {
        from {
            height: 0;
            padding: 0 0px;
        }

        to {
            height: 110px;
            padding: 0px;
        }
    }
    @keyframes slideUp {
        from {
            height: 110px
        }

        to {
            height: 0;
        }
    }

    .navUl {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0 15px;
        height: 100%;
        margin: 0;
    }
    .navMyMedia {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navLogoName {
        position: absolute;
        top: -7px;
        width: 135px;
        height: 55px;
    }
}

.navMyMediaClosed {
    display: none;
}

.wrapperClosed {
    display: none;
}

.navNavigationClosed {
    display: none;
}

.navNavigation {
    display: flex;
}
@keyframes noBorderAndPadding {
    from {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-top: none;
        padding: 0;
    }

    to {
        border-bottom: none;
        border-left: none;
        border-top: none;
        padding: 0 0;
    }
}

.navUlOpened {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    right: -1rem;
    width: 100%;
    height: 120px;
    padding: 0;
    background: linear-gradient(0deg, rgba(34, 34, 34, 1) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
    z-index: 3;
    list-style: none;
    margin: 0;
    opacity: 1;
}


.navUlClosed {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50px;
    right: -1rem;
    width: 100%;
    height: 120px;
    padding: 0;
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
    z-index: 3;
    list-style: none;
    margin: 0;
    animation: fadeOut .4s ease forwards;

}

.navDivOpened {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
    right: 0;
    width: 200px;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    padding: 0;
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
    z-index: -1;
    list-style: none;
    margin: 0;
    animation: slideDown .7s ease forwards;
    overflow: hidden;
}

.noDivOpened {
    width: 0;
    height: 0;
}

.navDivClosed {
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
    right: 0;
    width: 200px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    padding: 0;
    background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
    z-index: -1;
    list-style: none;
    margin: 0;
    overflow: hidden;
    animation: slideUp .7s ease forwards, noBorderAndPadding .7s ease forwards;
}

.navLiOpened {
    text-align: center;
    z-index: 3;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
    opacity: 1;
}

.navLiClosed {
    text-align: center;
    z-index: -1;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
    opacity: 0;
    animation: fadeOut .4s ease forwards;
}

.nav-icon3 {
    width: 25px;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
}

.nav-icon1 span,
.nav-icon3 span,
.nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e9bfb3;
    border-radius: 9px;
    padding: 0;
    margin: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon3 span:nth-child(1) {
    top: 10px;
}

.nav-icon3 span:nth-child(2),
.nav-icon3 span:nth-child(3) {
    top: 18px;
}

.nav-icon3 span:nth-child(4) {
    top: 26px;
}

.nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}








/* MEDIA ICONS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.wrapper {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 3;
}

.wrapper .navIcon {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 10%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 1;
}

.wrapper .navIconClosed {
    position: relative;
    background: #ffffff;
    border-radius: 10%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: fadeOut .6s ease-in-out forwards;
    opacity: 0;
}


.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #9c9c9c;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #979797;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .navIcon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .navIcon:hover span,
.wrapper .navIcon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.wrapper .gitlab:hover,
.wrapper .gitlab:hover .tooltip,
.wrapper .gitlab:hover .tooltip::before {
    background: #fc6d26;
    color: #ffffff;
}

.navIcons {
    width: 45px;
    height: 45px;
}


.custom-btn {
    width: fit-content;
    height: fit-content;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin: 0;
}

.btn-5 {
    width: 60px;
    height: 25px;
    line-height: 22px;
    padding: 0;
    border: none;
    background: #e9bfb3;
    margin: 0;
}

.btn-5:hover {
    color: #e4aba7;
    background: transparent;
    box-shadow: none;
}

.btn-5:hover span {
    color: #ffffff;
    background: transparent;
    box-shadow: none;
}

.navigation span {
    color: black;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #b4b4b4;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
