@media (min-width: 768px) {
    .navigation {
        margin-left: 0
    }
}
@media (max-width: 768px) {
    .navigation {
        margin-left: 0
    }
}

.navigation {
    width: fit-content;
}

button {
    margin: 20px;
}
.custom-btn52 {
    width: fit-content;
    height: fit-content;
    color: #000000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin: 0;
}

.btn-52 {
    width: 70px;
    height: 25px;
    line-height: 22px;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9bfb3;
    margin: 0 2px;
}

.btn-52:hover {
    color: #e4aba7;
    background: transparent;
    box-shadow: none;
}

.btn-52:hover span {
    color: #ffffff;
    background: transparent;
    box-shadow: none;
}

.navigation span {
    color: black;
    white-space: nowrap;
}

.btn-52:before,
.btn-52:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #b4b4b4;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-52:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-52:hover:before,
.btn-52:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
