* {
  box-sizing: border-box;
}
:root {
  width: 100%;
  box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
}

a {

}
a:hover {

}

div {
  box-sizing: border-box;
}

nav {
  box-sizing: border-box;
}
body, html {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  width: 10px;
}

:root::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(18, 18, 18, 1) 50%, rgba(34, 34, 34, 1) 100%);
  border: 1px solid black;
}

:root::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #e9bfb3
}
